.menu{
    display: flex;
    justify-content: space-around;
    background-color: #F5F5F5;
    margin-top: 1rem;
}

.menu__header{
display: flex;
align-items: center;
gap: 1rem;
}

.menu__imagen{
    width: 1.5rem;
    height: 1.5rem;
}

.menu__list{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu__list__item__contato{
    font-weight: bold;
}