/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso quiera adicionar mas información
coloque nas sessões indicadas*/

:root {
  /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
  --cor-de-sobre-mi: #eaf2fd;
  --fondo-blanco: #fff;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  line-height: 1;
}

.tudo {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

.contenedor--centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

.menu {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 0 2rem;
}

.menu__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ico {
  width: 1.5rem;
  height: 1.5rem;
}

.menu__imagen {
  background: url(../svg/code-solid.svg);
  background-repeat: no-repeat;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0;
}

.menu__list__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  transition: all 1s ease;
}

.menu__list__item:hover {
  box-shadow: rgba(75, 79, 83, 0.2) 0px 8px 24px;
  border-radius: 0.3125rem;
}

.ico-user {
  background: url(../svg/user-solid.svg);
  background-repeat: no-repeat;
}

.ico-desktop {
  background: url(../svg/desktop-solid.svg);
  background-repeat: no-repeat;
}

.ico-ghost {
  background: url(../svg/ghost-solid.svg);
  background-repeat: no-repeat;
}

.ico-graduation {
  background: url(../svg/graduation-cap-solid.svg);
  background-repeat: no-repeat;
}

.ico-business {
  background: url(../svg/briefcase-solid.svg);
  background-repeat: no-repeat;
}

.menu__list__item__contato {
  font-weight: bold;
}

/*Sección Title*/

.title {
  padding: 2rem;
}

.title__div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;
}

.title__profile {
  border-radius: 100%;
  width: 368px;
}
.title__bio {
  font-weight: 700;
  font-size: 3em;
  line-height: 3.8156rem;
}
.title__subsection {
  margin: 1.5rem 0;
  font-family: Raleway;
  font-size: 1.375em;
  font-weight: 400;
  line-height: 1.625em;
}

.title__network {
  display: flex;
  gap: 1.25rem;
  padding: 0;
}

.title__network__item {
  transition: all 1s ease;
}

.title__network__item:hover {
  box-shadow: rgba(75, 79, 83, 0.2) 0px 8px 24px;
  border-radius: 0.3125rem;
}

.links {
  display: flex;
  align-items: center;
}

.ico-github {
  background: url(../svg/github.svg);
  background-repeat: no-repeat;
}

.ico-linkedin {
  background: url(../svg/linkedin.svg);
  background-repeat: no-repeat;
}

.ico-instagram {
  background: url(../svg/instagram.svg);
  background-repeat: no-repeat;
}

.ico-cv {
  background: url(../svg/file-pdf-solid.svg);
  background-repeat: no-repeat;
}
/*Sección About*/

.about {
  background-color: var(--cor-de-sobre-mi);
  padding: 2rem;
}

/* .about__container {
  padding: 2rem;
} */

.about__title {
  font-weight: 700;
  font-size: 2em;
}

.about__paragraph {
  font-weight: 400;
}

/*Sección Skills*/

.config--titulos {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}
.config--skihob {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  gap: 1rem;
  width: 100%;
}

.config--skihob ul {
  padding: 0;
}

.skills__box {
  background-color: var(--fondo-blanco);
  width: 100%;
  height: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__images {
  width: 7.25rem;
}

.hobbies__box {
  background-color: var(--fondo-blanco);
  width: 100%;
  height: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Sección Hobbies*/

/* Experiencia Académica*/

.academic {
  background-color: var(--cor-de-sobre-mi);
  margin-bottom: 0;
}

.academic__courses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  width: 100%;
  gap: 1rem;
}

.academic__courses__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.academic__courses__item__img {
  background-color: var(--fondo-blanco);
  height: 17.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.academic__courses__item__title h4 {
  margin: 0;
}

.academic__courses__item__subtitle p {
  margin: 0;
}

/* experiencia*/

.experience {
  gap: 4rem;
}
.experiencie__box {
  display: flex;
  /* width: 71rem; */
  height: 25.375rem;
  align-items: center;
  gap: 1rem;
}

.experience__img {
  width: 60%;
  flex-shrink: 0;
  align-self: stretch;
}

.experience__info {
  color: #464646;
  font-size: 1.375rem;
  font-weight: 700;
}

.experience__text {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

.experiencia__botao--repo {
  padding: 1rem;
  border: 1px solid #2a7ae4;
  border-radius: 0.3125rem;
  color: #2a7ae4;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.experiencia__botao--repo:hover {
  box-shadow: #00000063 5px 5px 5px;
  border-radius: 0.3125rem;
}

.experience__botao--demo {
  padding: 1rem;
  background: #2a7ae4;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 0.3125rem;
  transition: all 0.3s ease-in-out;
}

.experience__botao--demo:hover {
  box-shadow: #00000063 5px 5px 5px;
  border-radius: 0.3125rem;
}

.experience__box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}

/*Contacto*/

.formcontato {
  background: #eaf2fd;
}

.formcontato__contacto {
  display: flex;
  /* width: 71rem; */
  padding-top: 4rem;
  align-items: center;
  gap: 1rem;
}

.formcontato__contenedor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex: 1 0 0;
}

.formcontato__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.formcontato__title {
  margin: 0;
  font-size: 2em;
  font-weight: 700;
}

.formcontato__subtext {
  margin: 0;
  font-size: 1em;
  font-weight: 500;
}

.formcontato__form {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 2rem;
  align-self: stretch;
}

.form__placeholder::placeholder {
  color: #a2a2a2;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: "raleway";
  font-style: italic;
  opacity: 0;
}

.form__placeholder:focus::placeholder,
.form__placeholder:focus::placeholder {
  opacity: 1;
}

.form__span {
  position: relative;
  display: inline-block;
  /* margin: 1rem 0 1rem 6rem; */
}

.formcontato__input {
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 0;
  color: #377d6a;
  background: #f5f5f5;
  border: 0;
  border-radius: 0.3125rem;
  outline: 0;
  text-indent: 70px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;

  + .form__label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 1rem;
    padding: 10px 15px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: #2a7ae4;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }
}

.formcontato__input:focus,
.formcontato__input:active {
  color: #377d6a;
  text-indent: 0;
  background: #fff;
  border-bottom-color: #2a7ae4;
  opacity: 1;

  + .form__label {
    transform: translateX(-100%);
  }
}

.formcontato__textarea {
  transition: all 0.5s ease-in-out;
  /* margin: 0 0 0 6rem; */
  padding: 1rem 0px 1rem 1rem;
  /* width: 60rem; */
  height: 2rem;
  background: #f5f5f5;
  resize: none;
  border-radius: 0.3125rem;
  outline: 0;
  border: none;
  overflow: hidden;
  border-bottom: 2px solid transparent;
}

.formcontato__textarea:focus,
.formcontato__textarea:active {
  height: 10rem;
  background: #fff;
  border-bottom-color: #2a7ae4;
}

.formcontato__botao {
  margin: 0 0 2rem 0;
  padding: 1rem;
  background: #2a7ae4;
  color: #fff;
  font-size: 1rem;
  /* width: 61rem; */
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease-in-out;
}

.formcontato__botao:hover {
  box-shadow: #00000063 5px 5px 5px;
  border-radius: 0.3125rem;
}
/*footeer*/

.footer {
  display: flex;
  justify-content: center;
  background: var(--fondo-blanco);
}

.footer__rodape {
  text-align: center;
}
/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (max-width: 768px) {
  /* Menú */

  .menu {
    padding: 1rem 2rem;
    justify-content: space-between;
  }

  .menu__title {
    font-size: 0.9375rem;
  }

  .menu__list {
    gap: 0.5rem;
    padding: 0;
  }

  .menu__list__item {
    display: none;
  }

  .menu .ico {
    display: none;
  }

  /*title*/

  .title {
    padding: 2rem;
  }

  .title__div {
    justify-content: center;
  }

  .title__bio {
    font-size: 1.375rem;
  }

  .title__subsection {
    font-size: 1rem;
  }

  .title__profile {
    width: 10rem;
  }

  /* about */

  .about {
    padding: 2rem;
  }

  .about__container {
    padding: 0;
  }
  /*Skills*/

  .config--skihob {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }

  /*Hobbies*/

  /*Formación Académica*/

  .academic__courses__item__img {
    height: auto;
  }

  /*Experiencia Profesional*/
  .experiencie__box,
  .experience__box {
    flex-wrap: wrap;
    width: auto;
    height: auto;
    justify-content: flex-start;
    flex-direction: row;
  }

  .experience__img {
    width: 100%;
  }

  /* Contacto */
  .formcontato__contacto {
    width: auto;
  }
}

/*Mobile*/
@media (max-width: 667px) {
  /*Menu*/
  .menu {
    padding: 1rem;
  }

  .menu .ico {
    display: block;
  }

  /*Titulo*/
  .title__div {
    flex-direction: column;
    gap: 0;
  }
  .title__bio {
    font-size: 1.5em;
    line-height: 1.5rem;
  }

  .title__network {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .title__network__item {
    width: 45%;
  }

  /*Sección sobre mi*/

  /*Skills*/
  .config--skihob {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/

  /*Contacto*/

  /*Footer*/
}
