/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
  --cor-de-sobre-mi: #eaf2fd;
  --fondo-blanco: #fff;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  line-height: 1;
}

.tudo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

.contenedor--centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

.menu {
  display: flex;
  justify-content: space-around;
  background-color: #f5f5f5;
}

.menu__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.ico {
  width: 1.5rem;
  height: 1.5rem;
}

.menu__imagen {
  background: url(../code-solid.svg);
  background-repeat: no-repeat;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.menu__list__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  transition: all 1s ease;
}

.menu__list__item:hover {
  box-shadow: rgba(75, 79, 83, 0.2) 0px 8px 24px;
  border-radius: 0.3125rem;
}

.ico-user {
  background: url(../user-solid.svg);
  background-repeat: no-repeat;
}

.ico-desktop {
  background: url(../desktop-solid.svg);
  background-repeat: no-repeat;
}

.ico-ghost {
  background: url(../ghost-solid.svg);
  background-repeat: no-repeat;
}

.ico-graduation {
  background: url(../graduation-cap-solid.svg);
  background-repeat: no-repeat;
}

.ico-business {
  background: url(../briefcase-solid.svg);
  background-repeat: no-repeat;
}

.menu__list__item__contato {
  font-weight: bold;
}

/*Sección Title*/

.title {
  margin: 2rem 9.5rem;
}

.title__div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;
}

.title__profile {
  border-radius: 100%;
  width: 368px;
}
.title__bio {
  font-weight: 700;
  font-size: 3.25em;
  line-height: 3.8156rem;
}
.title__subsection {
  margin: 1.5rem 0;
  font-family: Raleway;
  font-size: 1.375em;
  font-weight: 400;
  line-height: 1.625em;
}

.title__network {
  display: flex;
  gap: 1.25rem;
  padding: 0;
}

/*Sección About*/

.about {
  background-color: var(--cor-de-sobre-mi);
  padding-left: 9.5rem;
}

.about__container {
  margin: 4rem;
  padding: 3.375rem 24.0625rem 4.25rem 0rem;
}

.about__title {
  font-weight: 700;
  font-size: 2em;
}

.about__paragraph {
  font-weight: 400;
}

/*Sección Skills*/

.config--titulos {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
}
.config--skihob {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.config--skihob ul {
  padding-left: 1rem;
}

.skills__box {
  background-color: var(--fondo-blanco);
  width: 11rem;
  height: 10.875rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.hobbies__box {
  background-color: var(--fondo-blanco);
  width: 11rem;
  height: 10.875rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

/*Sección Hobbies*/

.hobbies__line {
  display: flex;
}

/* Experiencia Académica*/

.academic {
  background-color: var(--cor-de-sobre-mi);
  padding: 5.125rem;
  margin-bottom: 0;
}

.academic__courses {
  display: flex;
  gap: 1rem;
}

.academic__courses__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.academic__courses__item__img {
  background-color: var(--fondo-blanco);
  width: 23rem;
  height: 17.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.academic__courses__item__title h4 {
  margin: 0;
}

.academic__courses__item__subtitle p {
  margin: 0;
}

/* experiencia*/

.experience {
  gap: 4rem;
}
.experiencie__box {
  display: flex;
  width: 71rem;
  height: 25.375rem;
  align-items: center;
  gap: 1rem;
}

.experience__img {
  width: 47rem;
  flex-shrink: 0;
  align-self: stretch;
}

.experience__info {
  color: #464646;
  font-size: 1.375rem;
  font-weight: 700;
}

.experience__text {
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

.experiencia__botao--repo {
  padding: 1rem;
  border: 1px solid #2a7ae4;
  color: #2a7ae4;
  font-size: 1rem;
  cursor: pointer;
}

.experience__botao--demo {
  padding: 1rem;
  background: #2a7ae4;
  color: #fff;
  font-size: 1rem;
}

.experience__box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}

/*Contacto*/

.formcontato {
  background: #eaf2fd;
}

.formcontato__contacto {
  display: flex;
  width: 71rem;
  padding-top: 4rem;
  align-items: center;
  gap: 1rem;
}

.formcontato__contenedor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex: 1 0 0;
}

.formcontato__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.formcontato__title {
  margin: 0;
  font-size: 2em;
  font-weight: 700;
}

.formcontato__subtext {
  margin: 0;
  font-size: 1em;
  font-weight: 500;
}

.formcontato__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

/* .marcapos {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.4375rem;
  align-self: stretch;
  border-radius: 0.25rem;
} */

.form__placeholder::placeholder {
  color: #a2a2a2;
  font-size: 1rem;
  line-height: 1.25rem;
}

.form__span {
  position: relative;
  display: inline-block;
  margin: 1rem 0 1rem 6rem;
}

.formcontato__input {
  display: inline-block;
  width: 34rem;
  padding: 10px 0 10px 15px;
  color: #377d6a;
  background: #f5f5f5;
  border: 0;
  border-radius: .3125rem;
  outline: 0;
  text-indent: 70px;
  transition: all 0.3s ease-in-out;

  + .form__label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 1rem;
    padding: 10px 15px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: #2a7ae4;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }
}

.formcontato__input:focus,
.formcontato__input:active {
  color: #377d6a;
  text-indent: 0;
  background: #fff;

  + .form__label {
    transform: translateX(-100%);
  }
}

.formcontato__textarea{
  transition: all 0.5s ease-in-out;
  margin: 0 0 0 6rem;
  width: 35rem;
  background: #f5f5f5;
  resize: none;
  border-radius: .3125rem;
  outline: 0;
  border: none;
}

.formcontato__textarea:focus,
.formcontato__textarea:active{
  height: 8rem;
  background: #fff;
}

.formcontato__botao{
  padding: 1rem;
    background: #2a7ae4;
    color: #fff;
    font-size: 1rem;
}
/*footeer*/

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (min-width: 768px) {
  /* Menú */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sección sobre mi*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/

  /*Contacto*/

  /*Footer*/
}
